DIVINEAPI_AUTH_TOKEN=Authorization: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FzdHJvYXBpLTEuZGl2aW5lYXBpLmNvbS9hcGkvYXV0aC1hcGktdXNlciIsImlhdCI6MTczNzAyMjg3OCwibmJmIjoxNzM3MDIyODc4LCJqdGkiOiJEZnVySk5RNkVQWXJ5RHJuIiwic3ViIjoiMTY4MiIsInBydiI6ImU2ZTY0YmIwYjYxMjZkNzNjNmI5N2FmYzNiNDY0ZDk4NWY0NmM5ZDcifQ.NNctV0gztAlGSykDqE7Tu84G73PYC0mW3r0fmeYSgwo
DIVINEAPI_KEY=6a81681a7af700c6385d36577ebec359
GMAIL_ADDRESS=vinay.joshi@starstell.com
GMAIL_APP_PASSWORD=cytd gzre hdpc ghsa
